* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background-color: #e2e2e2;
}

#smooth-wrapper {
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  will-change: transform;
}

.spacer,
.container {
  width: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stacked-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.card {
  width: 100%;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 10px 20px,
    rgba(0, 0, 0, 0.2) 0 6px 6px;
  background-color: #f2f2f2;
  margin-bottom: 75vh;
}

.img-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-wrapper img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}
