@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Parisienne&display=swap");
@import "tailwindcss";

@theme {
  --color-brand-wine: #3d0007;
  --color-brand-cream: #ffedeb;
  --color-brand-smoke: #243742;
  --color-brand-blush: #ffedeb;
  --color-brand-text: #3d0007;
  --color-brand-black: #162127;
  --font-parisienne: "Parisienne", cursive;
  --font-lato: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-lato);
}

button,
input,
select,
textarea {
  font-family: inherit;
}
